#root {
  width: 100vw;
  height: 100vh;
}
.lobby{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100vw;
  height:100vh;
  font-size:2rem;
}

.userform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:8vh;
}

.lobby input{
  width:6rem;
  font-size: 1rem;
}

.lobbyButton{
  padding:0.5rem;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sidebar {
  width: 20vw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-width: 10rem;
}

input {
  width: 2rem;
  border: 1px solid black;
  
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

button {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  transition: 200ms;
}

button:hover {
  background-color: red;
  cursor: pointer;
}

.frac-top {
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
}

.frac {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frac-bot {
  border-top: 1px solid black;
  margin-top: 5px;
  margin-bottom: 25px;
}

.userinput {
  width: 75%;
  display: flex;
  gap: 1rem;
}

.userinput input {
  flex-grow: 1;
}

.prompt {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

#warning{
  width:50%;
  height:auto;
  z-index: 500;
  position:absolute;
  bottom:0vh;
  left:25vw;
  pointer-events: none;
}

.prompt-inner {
  background-color: white;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  padding: 50px;
}

.prompt-inner form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 2px;
}

.prompt div button {
  margin-top: 10px;
}

.messageBoard{
  position:absolute;
  color:white;
  top:3%;
  left:50%;
  z-index: 300;
  pointer-events: none;
  text-align: center;
}

.disabled {
  text-align: center;
  color: red;
}